<div>
    <h1>Login</h1>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form name="login-form" data-ng-submit="login(creds)">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Enter Email"
                           data-ng-model="creds.email" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Enter Password"
                           data-ng-model="creds.password" class="form-control" required>
                </div>
                <!-- <input type="submit" value="submit"> -->
                <input class="button" id="submit-login" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>
