<div data-ng-if="showTemplate">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <!-- Page Title -->
            <h1>Register</h1>

            <!-- Register Form -->
            <form name="login-form" data-ng-submit="register(user)">
                <div class="form-group">
                    <p>
                        <input type="email" id="email" name="email" placeholder="Enter Email"
                               data-ng-model="user.email" class="form-control" required>
                    </p>

                    <p>
                        <input type="text" id="first-name" name="first-name" placeholder="Enter First Name"
                               data-ng-model="user.first_name" class="form-control" required>
                    </p>

                    <p>
                        <input type="text" id="last-name" name="last-name" placeholder="Enter Last Name"
                               data-ng-model="user.last_name" class="form-control" required>
                    </p>

                    <p>
                        <input type="text" id="display-name" name="display-name" placeholder="Enter Display Name"
                               data-ng-model="user.display_name" class="form-control" required>
                    </p>
                </div>

                <div class="form-group"  data-ng-if="options.confirmationRequired == null">
                    <p data-ng-class="{'has-error' : identical === false}">
                        <input type="password" id="password" name="password" placeholder="Enter Password"
                               data-ng-model="user.new_password" class="form-control" required
                               data-ng-keyup="verifyPassword(user)" >
                    </p>

                    <p data-ng-class="{'has-error' : identical === false}">
                        <input type="password" id="verify-password" name="verify-password" placeholder="Verify Password"
                               data-ng-model="user.verify_password" class="form-control" required
                               data-ng-keyup="verifyPassword(user)" >
                    </p>
                </div>
                <!-- <input type="submit" value="submit"> -->
                <input class="btn btn-default" id="submit-login" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>